{% extends "layouts/layout_admin.html" %}

{% block content %}
<div class="panel" style="margin-right:0px;">
  <div class="row panel" style="margin-left:0px;  margin-bottom:0px;">
        <div class="column column-50">

        <a href="/trabajador/lista" class="button" style="margin-top:5px;">◄ Atrás</a>
        {%for datos in lis_trab[0]%}
        <p class="p_detalles"><b>Nombre:</b> {{datos.nombre}} {{datos.apellido}}</p>
        <p class="p_detalles"><b>Cedula:</b> {{datos.cedula}}</p>
        <p class="p_detalles"><b>Telefono:</b> {{datos.telefono}}</p>
        <p class="p_detalles"><b>Correo:</b> {{datos.correo}}</p>
        <p class="p_detalles"><b>Dirección:</b> {{datos.direccion}}</p>
        {%endfor%}
        <!--<a href="" class="button" style="margin-top:5px;">Imprimir Carnet</a>-->
        <!--<a href="" class="button" style="margin-top:5px;">Imprimir Constancia</a>-->
        {%for datos in lis_trab[1]%}
        <p class="p_detalles"><b>Carnet:</b> {{datos.carnet}}</p>
        <p class="p_detalles"><b>Cargo:</b> {{datos.cargo}}</p>
        <a class="button" href="/trabajador/editar/{{datos.persona_idpersona}}">Editar</a>
        {%endfor%}
      </div>
  </div>
  <div class="column">
    <div class="centrar panel">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora de entrada</th>
            <th>Hora de salida</th>
            <th>Horas acumuladas</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          {%for datos in lis_trab[2]%}
          <tr>
            <th>{{datos.hora_entrada|date('d/m/Y')}}</th>
            <th>{{datos.hora_entrada|date('H:i:s')}}</th>
            <th>{{datos.hora_salida|date('H:i:s')}}</th>
            <th>{{datos.hora_acumulada|date('H')}}</th>
            <th><a href="" class="button">Editar</a></th>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
