{% extends "layouts/layout_admin.html" %}

{% block content %}
<p id="js" style="display:none">trabajador</p>
<div class="panel" style="margin-right:0px;">
  <div class="row panel" style="margin-left:0px;  margin-bottom:0px;">
        <div class="column column-50">

        <a href="/trabajador/lista/0" class="button" style="margin-top:5px;">◄ Atrás</a>
        {%for datos in persona%}
        <p class="p_detalles"><b>Nombre:</b> {{datos.nombre}} {{datos.apellido}}</p>
        <p class="p_detalles"><b>Cedula:</b> {{datos.cedula}}</p>
        <p class="p_detalles"><b>Telefono:</b> {{datos.telefono}}</p>
        <p class="p_detalles"><b>Correo:</b> {{datos.correo}}</p>
        <p class="p_detalles"><b>Dirección:</b> {{datos.direccion}}</p>
        <a class="button" href="/trabajador/editar/{{datos.idpersona}}">Editar</a>
        <a class="button" id="btn_agr_hora">Añadir Horas</a>
        {%endfor%}
        </div>
        <div class="column column-50">
        {%if cant== 0%}
        <a class="button" style="margin-top:5px;" id="btn_agr_admin">Volver Admin</a>
        {%elseif cant == 1%}
        <a class="button" style="margin-top:5px;" id="btn_deg_admin">Degradar Admin</a>
        {%endif%}
        {%for datos in persona%}
        <a class="button" href="/trabajador/lista_asis_mes/{{datos.idpersona}}">Asistencia Mensual</a>
        {%endfor%}
        {%for datos in area%}
        <br>
        <p class="p_detalles"><b>Área:</b> {{datos.nombre}}</p>
        {%endfor%}
        {%for datos in trab%}
        <p class="p_detalles"><b>Carnet:</b> {{datos.carnet}}</p>
        <p class="p_detalles"><b>Cargo:</b> {{datos.cargo}}</p>
        {%endfor%}
      </div>
  </div>
  <div class="column">
    <div class="centrar panel">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora de entrada</th>
            <th>Hora de salida</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          {%for datos in asis%}
          <tr>
            <th>{{datos.hora_entrada|date('d/m/Y')}}</th>
            <th>{{datos.hora_entrada|date('H:i:s')}}</th>
            <th>{{datos.hora_salida|date('H:i:s')}}</th>
            <th><a href="/trabajador/editar_h/{{datos.idasistencia}}" class="button">Editar</a></th>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>




<div id="modal_agr_hora" class="modal">
<span class="close" title="Cerrar">&times;</span>
<form class="modal-content animate" method="post" name="horas" action="/trabajador/hora">
  <div class="centrar">
    <h4>Agregar Horas</h4>
  </div>
  <div class="container centrar">
    {%for datos in trab%}
    <input type="text" style="display:none;" name="id" value="{{datos.persona_idpersona}}">
    {%endfor%}
    <label for="Fecha">Ingrese Fecha:</label>
    <input type="text" id=datepicker name="fecha" value="{{'now'|date('Y-m-d')}}" required readonly>
    <label for="entrada">Hora de Entrada:</label>
    <input type="time" id="entrada" name="entrada" value="" required>
    <label for="salida">Hora de Salida:</label>
    <input type="time" id="salida" name="salida" value="" required>
    <br>
    <input type="submit" class="button" name="" value="Agregar">
  </div>
  </form>
</div>
<div id="modal_agr_admin" class="modal">
<span class="close" title="Cerrar">&times;</span>
<form class="modal-content animate" method="post" name="horas" action="/trabajador/agr_admin">
  <div class="centrar">
    <h4>Registrar Admin</h4>
  </div>
  <div class="container centrar">
    {%for datos in trab%}
    <input type="text" style="display:none;" name="id_trab" value="{{datos.idtrabajador}}">
    <input type="text" style="display:none;" name="id_per" value="{{datos.persona_idpersona}}">
    {%endfor%}
    <input type="text" id=user name="user" required placeholder="Nombre de Usuario">
    <input type="password" id="pass" name="pass" value="" required placeholder="Contraseña">
    <input type="password" id="pass_d" name="pass_d" value="" required placeholder="Repetir Contraseña">
    <br>
    <div class="alert danger adm" style="display:none; margin-bottom:1; padding:2;">
        <span class="closebtn">&times;</span>
        <p style="margin:0;">Las contraseñas no coinciden.</p>
    </div>
    <input type="submit" class="button" id="reg_admin" name="" value="Registrar">
  </div>
  </form>
</div>
<div id="modal_deg_admin" class="modal">
<span class="close" title="Cerrar">&times;</span>
<form class="modal-content animate" method="post" name="horas" action="/trabajador/deg_admin">
  <div class="centrar">
    <h4>¿Desea retirar permisos de administrador a
      {%for datos in persona%}{{datos.nombre}} {{datos.apellido}}{%endfor%}?
    </h4>
  </div>
  <div class="container centrar">
    {%for datos in trab%}
    <input type="text" style="display:none;" name="id_trab" value="{{datos.idtrabajador}}">
    <input type="text" style="display:none;" name="id_per" value="{{datos.persona_idpersona}}">
    {%endfor%}
    <br>
    <input type="submit" class="button" id="reg_admin" name="" value="Si">
    <input type="submit" class="button" id="can_admin" name="" value="No">
  </div>
  </form>
</div>
{% endblock %}
