{% extends "layouts/layout_admin.html" %}

{% block content %}
<div class="panel" style="margin-right:0px;">
  <div class="row panel" style="margin-left:0px;  margin-bottom:0px;">
        <div class="column column-50">

        <a href="/trabajador/lista" class="button" style="margin-top:5px;">◄ Atrás</a>
        {%for datos in lis_trab[0]%}
        <p class="p_detalles"><b>Nombre:</b> {{datos.nombre}} {{datos.apellido}}</p>
        <p class="p_detalles"><b>Cedula:</b> {{datos.cedula}}</p>
        <p class="p_detalles"><b>Telefono:</b> {{datos.telefono}}</p>
        <p class="p_detalles"><b>Correo:</b> {{datos.correo}}</p>
        <p class="p_detalles"><b>Dirección:</b> {{datos.direccion}}</p>
        <a class="button" href="/trabajador/editar/{{datos.idpersona}}">Editar</a>
        <a class="button" id="btn_agr_hora">Añadir Horas</a>
        {%endfor%}
        </div>
        <div class="column column-50">
        {%for datos in lis_trab[1]%}
        <br>
        <br>
        <p class="p_detalles"><b>Área:</b> {{datos.area}}</p>
        <p class="p_detalles"><b>Carnet:</b> {{datos.carnet}}</p>
        <p class="p_detalles"><b>Cargo:</b> {{datos.cargo}}</p>
        {%endfor%}
      </div>
  </div>
  <div class="column">
    <div class="centrar panel">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora de entrada</th>
            <th>Hora de salida</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          {%for datos in lis_trab[2]%}
          <tr>
            <th>{{datos.hora_entrada|date('d/m/Y')}}</th>
            <th>{{datos.hora_entrada|date('H:i:s')}}</th>
            <th>{{datos.hora_salida|date('H:i:s')}}</th>
            <th><a href="/trabajador/editar_h/{{datos.idasistencia}}" class="button">Editar</a></th>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="modal_agr_hora" class="modal">
<span class="close" title="Cerrar">&times;</span>
<form class="modal-content animate" method="post" name="horas" action="/trabajador/hora">
  <div class="centrar">
    <h4>Agregar Horas</h4>
  </div>
  <div class="container centrar">
    {%for datos in lis_trab[1]%}
    <input type="text" style="display:none;" name="id" value="{{datos.persona_idpersona}}">
    {%endfor%}
    <label for="Fecha">Ingrese Fecha:</label>
    <input type="text" id=datepicker name="fecha" value="{{'now'|date('Y-m-d')}}" required readonly>
    <label for="entrada">Hora de Entrada:</label>
    <input type="time" id="entrada" name="entrada" value="" required>
    <label for="salida">Hora de Salida:</label>
    <input type="time" id="salida" name="salida" value="" required>
    <br>
    <input type="submit" class="button" name="" value="Agregar">
  </div>
  </form>
</div>
{% endblock %}
