{% extends "layouts/layout_admin.html" %}
{% block content %}
<p id="js" style="display:none">trabajador</p>
<div style="margin-bottom: 150px; background-color:#fff">
	<div class="panel" style="margin-bottom: 10px">
		<div class="row">
			<div class="column column-50" style="margin-top:20px">
				<form class="" action="/trabajador/busqueda_asis_mes" method="post">
					<input type="text" name="id_trab" value="{{id['persona']}}" style="display:none;">
					<label for="anio" class="lab_sem">Año:</label>
					<select id="anio"  name="anio" class="sel_sem" >
						{%for datos in asistencia%}
						<option value="{{datos.anios}}" {{(datos.anios=='now'|date('Y'))?'selected="selected"':' '}}>{{datos.anios}}</option>
						{%endfor%}
					</select>
					<label for="mes" class="lab_sem">Mes:</label>
					<select id="mes" name="mes" class="sel_sem">
						<option value="0" {{('01'=='now'|date('m'))?'selected="selected"':' '}}>Enero</option>
						<option value="1" {{('02'=='now'|date('m'))?'selected="selected"':' '}}>Febrero</option>
						<option value="2" {{('03'=='now'|date('m'))?'selected="selected"':' '}}>Marzo</option>
						<option value="3" {{('04'=='now'|date('m'))?'selected="selected"':' '}}>Abril</option>
						<option value="4" {{('05'=='now'|date('m'))?'selected="selected"':' '}}>Mayo</option>
						<option value="5" {{('06'=='now'|date('m'))?'selected="selected"':' '}}>Junio</option>
						<option value="6" {{('07'=='now'|date('m'))?'selected="selected"':' '}}>Julio</option>
						<option value="7" {{('08'=='now'|date('m'))?'selected="selected"':' '}}>Agosto</option>
						<option value="8" {{('09'=='now'|date('m'))?'selected="selected"':' '}}>Septiembre</option>
						<option value="9" {{('10'=='now'|date('m'))?'selected="selected"':' '}}>Octubre</option>
						<option value="10" {{('11'=='now'|date('m'))?'selected="selected"':' '}}>Noviembre</option>
						<option value="11" {{('12'=='now'|date('m'))?'selected="selected"':' '}}>Diciembre</option>
					</select>
					<input type="submit" id="b_semana" name="" class="button" value="Buscar">
					</div>
					</form>
					</div>
		</div>
		<div class="panel" style="margin-top: 0">
			<table>
				<caption>
					<p><h4><strong>{{informacion['nombre']}}</strong></h4></p>
					<p><h4><strong>{{cabecera['titulo']}}</strong></h4></p>
				</caption>
				<thead>
					<tr>
						<th>Lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>Sábado</th>
						<th>Domingo</th>
					</tr>
				</thead>
				<tbody>
					{%set i = 0%}
					{%for j in 1..cantidad%}
					<tr>
						<th>
							{%if registro['lunes'][i]==true%}
							<p class="p_detalles" id="opener">{{registro['lunes'][i]['fecha']}}</p>
							<!--
							  <ul>
							  	<li>{{registro['lunes'][i]['fecha']}}</li>
									<li>{{registro['lunes'][i]['hora_entrada']}}</li>
									<li>{{registro['lunes'][i]['hora_salida']}}</li>
									<li>{{registro['lunes'][i]['hora_acumulada']}}</li>
							  </ul>
							-->
							{%else%}
							<p class="p_detalles centrar">-</p>
							{%endif%}
						</th>
						<th>
							{%if registro['martes'][i]==true%}
							<p class="p_detalles">{{registro['martes'][i]['fecha']}}</p>
							{%else%}
							<p class="p_detalles centrar">-</p>
							{%endif%}
						</th>
						<th>
							{%if registro['miercoles'][i]==true%}
							<p class="p_detalles">{{registro['miercoles'][i]['fecha']}}</p>
							{%else%}
							<p class="p_detalles centrar">-</p>
							{%endif%}
						</th>
						<th>
							{%if registro['jueves'][i]==true%}
							<p class="p_detalles">{{registro['jueves'][i]['fecha']}}</p>
							{%else%}
							<p class="p_detalles centrar">-</p>
							{%endif%}
						</th>
						<th>
							{%if registro['viernes'][i]==true%}
							<p class="p_detalles">{{registro['viernes'][i]['fecha']}}</p>
							{%else%}
							<p class="p_detalles centrar">-</p>
							{%endif%}
						</th>
						<th>
							{%if registro['sabado'][i]==true%}
							<p class="p_detalles">{{registro['sabado'][i]['fecha']}}</p>
							{%else%}
							<p class="p_detalles centrar">-</p>
							{%endif%}
						</th>
					<th></th>
					{%set i = i+1%}
				{% endfor %}
				</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
