{% extends "layouts/layout_admin.html" %}

{% block content %}
<!-- MODAL_LOGIN -->
<div class="panel">
  <div class="column">
    <form action="/trabajador/registro" method="post">
      <fieldset>
        <h2 class="centrar">Registrar Empleado</h2>
        <hr>
        <div class="row">
          <div class="column column-50">

            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="Ingrese su Nombre" autofocus="on" value="">

            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" value="">

            <label for="ced">No. de Cédula:</label>
            <input type="text" name="ced" id="ced" placeholder="Ingrese su Cédula" value="">

            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" placeholder="Ingrese su Dirección" value="">

            <label for="no_telefono">No. Telefono:</label>
            <input type="tel" name="no_telefono" id="no_telefono" placeholder="Ingrese su número de telefono" value="">

            <label for="correo">Correo:</label>
            <input type="text" name="correo" id="correo" placeholder="Ingrese su correo electrónico" value="">

          </div>
          <div class="column column-50">

            <label for="carnet">Carnet:</label>
            <input type="text" name="carnet" id="carnet" placeholder="Ingrese su carnet" value="">

            <label for="cargo">Cargo:</label>
            <input type="text" name="cargo" id="cargo" placeholder="Ingrese su cargo" value="">

            <div id="area" style="display: block;">
              <label for="area">Área:</label>
              <select name="area" id="area">
                <option value="Soporte Tecnico">Soporte Tecnico</option>
                <option value="Area de Innovación">Area de Innovaciòn</option>
              </select>
            </div>
          </div>
        </div>
        <input class="button" type="submit" value="Aceptar">
      </fieldset>
    </form>
  </div>
  <div class="column">
  </div>
</div>
<div style="margin-top: 170px;"></div>
{% endblock %}
