/*** Custom color ***/

/* BUTTON GREEN */
.button-green {
	background-color: #2ecc71;
	border-color: #2ecc71;
}
.button-green.button-clear,
.button-green.button-outline {
	background-color: transparent;
	color: #2ecc71;
}
.button-green.button-clear {
	border-color: transparent;
}

/* BUTTON YELLOW */
.button-yellow {
	background-color: #FFF457;
	border-color: #FFF457;
}
.button-yellow.button-clear,
.button-yellow.button-outline {
	background-color: transparent;
	color: #FFF457;
}
.button-yellow.button-clear {
	border-color: transparent;
}