{% extends "layouts/layout.html" %}

{% block content %}
<div class="panel container">
	<table>
	  <thead>
        <tr>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Cédula</th>
       </tr>
       {%for datos in lis_vis%}
       <tr>
         <th>{{datos.nombre}}</th>
         <th>{{datos.apellido}}</th>
         <th name='cedu'>{{datos.cedula}}</th>
         <th>
         <form action="/visitas/mas" method="post">
           <input class="button" type="button" name="mas" value="Más">
         </form>
       </th>
       </tr>
       {%endfor%}
     </thead>
    </table>
 </div>
{% endblock %}
