{% extends "layouts/layout_admin.html" %}

{% block content %}
<!--<div class="centrar panel">
	<div class="panel">
		<br>
		<a href="/voluntarios/voluntarios_reg" class="button">Registrar Nuevo</a>
	</div>
</div>-->
<div class="centrar panel">
	<div class="panel">
    	<table>
        <caption><h3><strong>LISTA DE VISITAS</strong></h3></caption>
    	  <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Cédula</th>
              <th>Detalles</th>
           </tr>
        </thead>
        <tbody>
           {%for datos in lis_vis%}
           <tr>
              <th>{{datos.nombre}}</th>
              <th>{{datos.apellido}}</th>
              <th>{{datos.cedula}}</th>
              <th>
                 <a class='button' href="/visitas/mas/{{datos.idvisita}}">Más</a>
              </th>
            </tr>
           {%endfor%}
         </tbody>
        </table>
  </div>
</div>
{% endblock %}
