{% extends "layouts/layout_admin.html" %}

{% block content %}
<p id="js" style="display:none">visitas</p>
<div class="panel">
  <div class="column">
    <div class="row panel">
        {%for datos in persona%}
        <div class="column column-50">
          <a href="/visitas/lista/1_0" class="button" style="margin-top:5px;">◄ Atrás</a>
          <p class="p_detalles"><b>Nombre:</b>  {{datos.nombre}}</label>
          <p class="p_detalles"><b>Apellido:</b>  {{datos.apellido}}</label>
          <p class="p_detalles"><b>Cedula:</b>  {{datos.cedula}}</label>
        {%endfor%}
        {%for datos in visita%}
          <p class="p_detalles"><b>Placa:</b> {{datos.placa}}</p>
          <p class="p_detalles"><b>Organizacion:</b>  {{datos.org}}</p>
        </div>
        <div class="column column-50">
          <br>
          <br>
          <p class="p_detalles"><b>Tipo de visita:</b>  {{datos.tipo_visita}}</p>
          <p class="p_detalles"><b>Motivo:</b>  {{datos.motivo}}</p>
          <p class="p_detalles"><b>Fecha:</b> {{datos.fecha|date("d/m/Y")}}</p>
          <p class="p_detalles"><b>Hora de llegada:</b> {{datos.hora_llegada|date("H:i:s")}}</p>
          <p class="p_detalles"><b>Hora de salida:</b>  {{datos.hora_salida|date("H:i:s")}}</p>
       </div>
       {%endfor%}
    </div>
  </div>
</div>
{% endblock %}
