{% extends "layouts/layout.html" %}

{% block content %}
<p id="js" style="display:none">visitas</p>
<div class="panel">
	<form action="/visitas/registro" method="post" name="registro" id="registro">
		<fieldset>

			<h2 class="centrar">Registrar Visita</h2>
			<hr>

			<div class="row">
				<div class="column column-50">

					<label for="nombre">Nombre:</label>
					<input type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre" required autofocus="on">

					<label for="apellido">Apellido:</label>
					<input type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" required>

					<label for="ced">No. de Cédula:</label>
					<input type="text" name="ced" id="ced" class="cedula_val" placeholder="Ingrese su Cédula">

					<label for="no_placa">No. Placa:</label>
					<input type="text" name="no_placa" id="no_placa" placeholder="Ingrese el número de placa">
				</div>
				<div class="column column-50">
					<label for="org_vi">Organización que Representa:</label>
					<input type="text" name="org_vi" id="org_vi" placeholder="Ingrese la Organización que Representa">

					<label for="tipo_visita">Tipo de Visita:</label>
					<input type="radio" name="tipo_visita" value="Interna" id="tipo_visita_0" checked><strong>Interna</strong>
					<input type="radio" name="tipo_visita" value="Externa" id="tipo_visita_1"><strong>Externa</strong>

					<div id="motivo_interno" style="display: block;">
						<label for="motivo_int">Motivo:</label>
						<select name="motivo_int" id="motivo_int">
							<option>Atención de Evento</option>
							<option>Recibimiento de Visita</option>
							<option>Asistencia en Taller</option>
							<option>Visita Administrativa</option>
							<option>Sesión de Trabajo</option>
							<option>Reunión de Equipo</option>
						</select>
					</div>

					<div id="motivo_externo" style="display: none;">
						<label for="motivo_ext">Motivo:</label>
						<select name="motivo_ext" id="motivo_ext">
							<option>Primera Visita/Recorrido en CI</option>
							<option>Reunión de Trabajo</option>
							<option>Asistencia en Taller</option>
							<option>Visita Administrativa</option>
						</select>
					</div>
					<label for="hr_apr_s">Hora Aproximada de Salida:</label>
					<input type="time" name="hora_salida">
				</div>
			</div>
			<input class="button submit_reg" type="submit"  value="Aceptar">
		</fieldset>
	</form>
	<!--<button class="button" id="btn_agr_mot">Agregar</button>-->
</div>
<!--<div id="modal_agr_mot" class="modal">
    <span class="close" title="Cerrar">&times;</span>
    <form class="modal-content animate" method="post" name="organizacion" action="/voluntarios/agr_org">
        <div class="centrar">
            <h4>Agregar Motivo</h4>
        </div>
        <div class="container">
            <input type="text" placeholder="Motivo" name="motivo_agr" required>
            <input class="button" type="submit" value="Agregar">
        </div>
    </form>
</div>-->
<div style="margin-top: 170px;"></div>
{% endblock %}
