{% extends "layouts/layout.html" %}

{% block content %}
<div class="row">
    <div class="column column-50 column-offset-25 alto">
		<div class="login centrar panel">

			<div class="row tabs">
    			<div id="voluntarios" class="column">
					<a class="button button-clear tablinks active">Voluntario</a>
				</div>
				<div id="trabajadores" class="column">
					<a class="button button-clear tablinks">Trabajador</a>
				</div>
			</div>

			
			<div class="tabcontent">
				<div id="tab_vol">
					<form method="POST" action="/inicio/asistencia">
						<input type="text" name="ced-vol" placeholder="Cedula Voluntario" >
						<input class="button" type="submit" value="Aceptar">
					</form>
				</div>
				<div id="tab_tbj" style="display:none;" >
					<form  method="POST" action="/inicio/asistencia">
						<input type="text" name="ced-tbj" placeholder="Cedula Trabajador" >
						<input class="button" type="submit" value="Aceptar">
					</form>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}