{% extends "layouts/layout.html" %}

{% block content %}
<div class="panel">
	<form action="" method="post">
		<fieldset>
			
			<h2>Registrar Visita</h2>
			<hr>

			<label for="nombre">Nombre:</label>
			<input type="text" name="name" id="nombre" placeholder="Ingrese su Nombre">

			<label for="apellido">Apellido:</label>
			<input type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido">

			<label for="ced">No. de Cédula:</label>
			<input type="text" name="ced" id="ced" placeholder="Ingrese su Cédula">

			<label for="no_placa">No. Placa:</label>
			<input type="text" name="no_placa" id="no_placa" placeholder="Ingrese el número de placa">

			<label for="motivo">Motivo:</label>
			<select name="motivo" id="motivo">
				<option>Aqui va lo proporcionado por Sofana</option>
				<option>Aqui va lo proporcionado por Sofana</option>
				<option>Aqui va lo proporcionado por Sofana</option>
			</select>
			<input class="button" type="submit" value="Aceptar">
		</fieldset>
	</form>
</div>

<div style="margin-top: 170px;"></div>
{% endblock %}