/** Tipografia **/
@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.eot");
    src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.eot");
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.eot");
    src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

/** Estilos globales **/
html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    min-height: 100%;
      width: 100%;
}

body {
	background-color: #7fc836;
	margin: 0;
}

a {
	background-color: : #448AFF !important;
	font-size: 1.3rem;
}

a:hover {
    background-color: : #7fc836 !important;
}

a.button {
	font-size: 1.3rem;
}

a.layout_items{
    color : #448AFF !important;
}
a.layout_items : hover{
    color: #7fc836 !important;
}

button {
	background-color: #448AFF;
	border-radius: 0;
	border-color: transparent;
	font-size: 1.3rem;
}

button:focus,
button:hover {
	background-color: #7FC836;
	border-color: transparent;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
	border-width: 2px;
	border-radius: 0;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
	border-color: #448AFF;
}

.centrar {
	text-align: center !important;
}

.izquierda {
	text-align: left !important;
}

.derecha {
	text-align: right !important;
}

.alto {
	margin: auto !important;
}

.panel {
	margin: 50px;
    background-color: #FFFFFF;
}

.row {
	width: 100%;
}

input.button {
	background-color: #448AFF;
	border-radius: 0;
	border-color: transparent;
}

input.button:focus,
input.button:hover {
	background-color: #7fc836;
	border-color: transparent;
}

.button {
    background-color: #448AFF;
    border-radius: 0;
    border-color: transparent;
}

.button:focus,
.button:hover {
    background-color: #7FC836;
    border-color: transparent;
}

.inverso {
	background-color: #7FC836;
	border-radius: 0;
	border-color: transparent;
	font-size: 1.3rem;
}

.inverso:focus,
.inverso:hover {
	background-color: #FFF;
    color: #448AFF;
	border-color: transparent;
}

/** NavBar **/
nav {
	background-color: #FFFFFF;
}

nav .row {
	height: 120px;
}

nav button#btn_admin {
	border: 2px #448AFF solid;
	background-color: transparent;
	color: #448AFF;
	margin-bottom: 0;
}

nav button#btn_admin:hover {
	background-color: #448AFF;
	color: #FFFFFF;
}

/** Footer **/
footer {
	color: #448AFF;
   	position: absolute;
   	bottom: 0;
   	width: 100%;
   	background-color: #FFFFFF;
 }

 footer div.row {
 	height: 120px;
 }

/** Formulario de Acceso **/
.login div.row {
	width: calc(100% + 2.0rem);
}

.login .tabs .tablinks {
	margin-bottom: 0;
	color: #448AFF;
	border-radius: 0;
	width: 100%;
}

.login .tabs .tablinks:hover {
	border-bottom: 2px #448AFF solid;
}

.login .tabs .active {
	border-bottom: 2px #448AFF solid;
}

.login .tabs #voluntarios {
	padding-right: 0;
}

.login .tabs #trabajadores {
	padding-left: 0;
}

.login .tabcontent {
	padding: 2.0rem;
}

/** Visitas **/
.panel form fieldset {
	padding: 2.0rem;
}
form{
	color: #448AFF;
}
/*MODAL*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 160px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Typies of alerts */
.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

thead, caption {
    color:#448AFF;
}
/*Agregar Org*/
.styled-select.slate select {
    background-color: #448AFF;
}
table{
    margin-bottom: 180px;
}
/* Larger than mobile screen */
@media (min-width: 40.0rem) {}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {}

/* Larger than desktop screen */
@media (min-width: 120.0rem) { }
