nav{
	background-color: #FFFFFF;
}

body{
	background-color: #1fd111;
	margin: 0;
	margin-bottom: 150px;
}

.centrar{
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}

.izquierda{
	text-align: left;
}

.derecha{
	text-align: right;
	margin-top: auto;
}

div{
	top: 50px;
	text-align: center;
	margin: auto;
	background-color: #FFFFFF;
	color: #448aff;
}

}

.borde{
	border-style: groove;
	border-radius: 10px;
   	background-color: #FFFFFF;
}

footer {
	text-align: center;
   background: #008dd3;
   height: 85px;
   font-weight: 100%;
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #FFFFFF;
 }
button {
	background-color: #448aff;
}
a{
	color: #448aff;
}
