{% extends "layouts/layout_admin.html" %}

{% block content %}
<p id="js" style="display:none">asisxdia</p>
<div class="centrar panel">
	<div class="panel">
			<!--<input class="buscar" type="text" name="buscar" placeholder="Cédula" class="izquierda">
			<button type="button" name="button"></button>-->
		<table>
			<caption>
				<a class="button" id="vol_cmd" href="/voluntarios/lista_asis_semana">Asistencia Semanal</a>
				<h2><strong>Asistencia del Dia</strong></h2>
			</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Hora de Entrada</th>
					<th>Hora de Salida</th>
					<th>Horas Acumuladas</th>
				</tr>
			</thead>
			<tbody>
				{%for datos in datos%}
					<tr>
						<th>{{datos['nombre']}}</th>
						<th>{{datos['apellido']}}</th>
						<th>{{datos['hora_entrada']|date('H:i')}}</th>
						{%if datos['hora_salida']==0%}
						<th>-</th>
						{%else%}
						<th>{{datos['hora_salida']|date('H:i')}}</th>
						{%endif%}
						<th>{{datos['hora_acumulada']}}</th>
					</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
