{% extends "layouts/layout.html" %}

{% block content %}
<div class="row panel">

  <div class="olumn column-50">
    {%for datos in lis_vol[0]%}
    <label for="nombre">Nombre: {{datos.nombre}}</label>
    <label for="nombre">Apellido: {{datos.apellido}}</label>
    <label for="nombre">Cedula: {{datos.cedula}}</label>
    <label for="nombre">Telefono: {{datos.telefono}}</label>
    <label for="nombre">Correo: {{datos.correo}}</label>
    <label for="nombre">Direccion: {{datos.direccion}}</label>
    {%endfor%}
  </div>

  <div class="column column-50">
    {%for datos in lis_vol[1]%}
    <label for="nombre">Carnet: {{datos.carnet}}</label>
    <label for="nombre">Fecha de Ingreso: {{datos.fecha_ingreso}}</label>
    {%endfor%}
  </div>

</div>
{% endblock %}
