{% extends "layouts/layout_admin.html" %}

{% block content %}
<!-- MODAL_LOGIN -->
<div class="panel">
  <div class="column">
    <form action="/voluntarios/actualizar/{{persona['idpersona']}}" method="post">
      <fieldset>
        <h2 class="centrar">Editar Voluntario</h2>
        <hr>
        <div class="row">
          <div class="column column-50">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="Ingrese su Nombre" autofocus="on" value="{{persona['nombre']}}">

            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" value="{{persona['apellido']}}">

            <label for="ced">No. de Cédula:</label>
            <input type="text" name="ced" id="ced" placeholder="Ingrese su Cédula" value="{{persona['cedula']}}">

            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" placeholder="Ingrese su Dirección" value="{{persona['direccion']}}">

            <label for="no_telefono">No. Telefono:</label>
            <input type="tel" name="no_telefono" id="no_telefono" placeholder="Ingrese su número de telefono" value="{{persona['telefono']}}">

            <label for="correo">Correo:</label>
            <input type="text" name="correo" id="correo" placeholder="Ingrese su correo electrónico" value="{{persona['correo']}}">
          </div>
          <div class="column column-50">
            <div id="orga" style="display: block;">
              <label for="org">Organización:</label>
              <select name="org" id="org">
                {% for names in org %}
                  <option value="{{names.idUniversidad}}" {{(voluntario['Universidad_idUniversidad']==names.idUniversidad)?'selected="selected"':' '}}>{{names.nombre}}</option>
                {% endfor %}
              </select>
              <a class='button' id="btn_agr_org">Agregar</a>
            </div>

            <div id="car" style="display: block;">
              <label for="carrera">Carrera:</label>
              <select name="carrera" id="carrera">
                {% for names in carrera %}
                  <option value="{{names.idcarrera}}" {{(voluntario['carrera_idcarrera']==names.idcarrera)?'selected="selected"':' '}}>{{names.nombre}}</option>
                {% endfor %}
              </select>
              <a class="button" id="btn_agr_carr">Agregar</a>
            </div>

            <label for="nivel">Fecha de Ingreso:</label>
            <input type="date" name="fecha" value="{{voluntario['fecha_ingreso']|date('Y-m-d')}}">

            <div id="area" style="display: block;">
              <label for="area">Área:</label>
              <select name="area" id="area">
                {% for names in area %}
                  <option value="{{names.idarea}}" {{(persona['area_idarea']==names.idarea)?'selected="selected"':' '}}>{{names.nombre}}</option>
                {% endfor %}
              </select>
              <a class="button" id="btn_agr_area">Agregar</a>
            </div>

            <div id="act" style="display: block;">
              <label for="act">Actividades:</label>
              <select name="actividades" id="actividades">
                {% for names in actividades %}
                  <option value="{{names.idactividades}}" {{(persona['area_idarea']==names.area_idarea)?'selected="selected"':' '}}>{{names.nombre}}</option>
                {% endfor %}
              </select>
              <a class="button" id="btn_agr_activ">Agregar</a>
            </div>
          </div>
        </div>
        <input class="button" type="submit" value="Terminar Edición">
      </fieldset>
    </form>
  </div>
  <div class="column">
  </div>
</div>
<!-- Formularios de las listas deplegables -->
<div id="modal_agr_org" class="modal">
  <span class="close" title="Cerrar">&times;</span>
  <form class="modal-content animate" method="post" name="organizacion" action="/voluntarios/agr_org">
    <div class="centrar">
      <h4>Agregar Organización</h4>
    </div>
    <div class="container">
      <input type="text" placeholder="Nombre" name="nombre_org" required>
      <input class="button" type="submit" value="Agregar">
    </div>
  </form>
</div>
<div id="modal_agr_carr" class="modal">
<span class="close" title="Cerrar">&times;</span>
<form class="modal-content animate" method="post" name="carrera" action="/voluntarios/agr_carr">
  <div class="centrar">
    <h4>Agregar Carrera</h4>
  </div>
  <div class="container">
    <input type="text" placeholder="Nombre" name="nombre_carr" required>
    <input class="button" type="submit" value="Agregar">
  </div>
  </form>
</div>
<div id="modal_agr_area" class="modal">
<span class="close" title="Cerrar">&times;</span>
<form class="modal-content animate" method="post" name="area" action="/voluntarios/agr_area">
  <div class="centrar">
    <h4>Agregar Área</h4>
  </div>
  <div class="container">
    <input type="text" placeholder="Nombre" name="nombre_area" required>
    <input type="text" placeholder="Descripción" name="desc_area" required>
    <input class="button" type="submit" value="Agregar">
  </div>
  </form>
</div>
<div id="modal_agr_activ" class="modal">
  <span class="close" title="Cerrar">&times;</span>
  <form class="modal-content animate" method="post" name="actividad" action="/voluntarios/agr_activ">
    <div class="centrar">
      <h4>Agregar Actividad</h4>
    </div>
    <div class="container">
      <input type="text" placeholder="Nombre" name="nombre_activ" required>
      <input type="text" placeholder="Descripción" name="desc_activ" required>
      <label for="area">Área:</label>
      <select name="activ_area" id="area">
        {% for names in template[2] %}
          <option value="{{names.idarea}}">{{names.nombre}}</option>
        {% endfor %}
      </select>
      <input class="button" type="submit" value="Agregar">
    </div>
  </form>
</div>
<div style="margin-top: 170px;"></div>
{% endblock %}
