
{% extends "layouts/layout_admin.html" %}
{% block content %}

<div class="centrar panel">
	<div class="panel">
		<div class="row">
			<div class="column column-50">
				<form class="" action="/voluntarios/busqueda_semana" method="post">
					<label for="years" >Año:</label>
					<select id="years" class="" name="">
						{%for datos in asistencia%}
						<option value="{{datos.anios}}">{{datos.anios}}</option>
						{%endfor%}
					</select>
					<input type="text" name="year" id="year" value="" style="display:none">
					<label for="months">Mes:</label>
					<select id="months" class="" name="">
						<option value="0">Enero</option>
						<option value="1">Febrero</option>
						<option value="2">Marzo</option>
						<option value="3">Abril</option>
						<option value="4">Mayo</option>
						<option value="5">Junio</option>
						<option value="6">Julio</option>
						<option value="7">Agosto</option>
						<option value="8">Septiembre</option>
						<option value="9">Octubre</option>
						<option value="10">Noviembre</option>
						<option value="11">Diciembre</option>
					</select>
					<input type="text" name="month" id="month" value="" style="display:none">
					</div>
					<div class="column column-50">
					<label for="weeks" style="color:#448AFF">Semana:</label>
					<select id="weeks" class="" name="">
						<option value=""></option>
					</select>
					<br>
					<br>
					<input type="text" name="f_inicio" id="f_inicio" value="" style="display:">
					<input type="text" name="f_final" id="f_final" value="" style="display:">
					<input type="submit" id="b_semana" name="" class="button" value="Buscar">
					</form>
					</div>
		</div>
		<div class="row">
			<table>
				<thead>
					<tr>
						<th>Lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

{% endblock %}
