{% extends "layouts/layout_admin.html" %}

{% block content %}
<p id="js" style="display:none">voluntarios</p>
<!--<div>
	<form class="panel" method="POST" action="">
	<input class="buscar" type="text" name="buscar" placeholder="Cédula" class="izquierda">
	<button type="button" name="button" style="background-image: url(/resources/img/search.png);"></button>
	</form>
</div>-->
<div class="centrar panel">
	<div class="panel">
			<!--<input class="buscar" type="text" name="buscar" placeholder="Cédula" class="izquierda">
			<button type="button" name="button"></button>-->
		<table>
			<caption>
				<a class="button" id="vol_cmd" href="/voluntarios/voluntarios_reg">Nuevo Voluntario</a>
				<a class="button" id="lis_cmd" href="/voluntarios/asis_dia/0">Lista de Asistencia</a>
				<form id="frm_s" class="" action="/voluntarios/busqueda/0" method="post">
					<!--<input id="cmd_s" class="button" type="submit" name="cmd_buscar">-->
					<input id="vol_s" type="text" name="buscar" placeholder="Nombre">
					<input id="cmd_s" class="button" type="submit" name="cmd_buscar" value="Buscar">
				</form>
				<br>
				<!--<h3><strong>LISTA DE VOLUNTARIOS</strong></h3>-->
			</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Cédula</th>
					<th>Horas</th>
					<th>Detalles</th>
				</tr>
			</thead>
			<tbody>
				{%for datos in datos%}
				<tr>
					<th>{{datos['nombre']}}</th>
					<th>{{datos['apellido']}}</th>
					<th>{{datos['cedula']}}</th>
					<th>{{datos['hora_acumulada']}}</th>
					<th><a class='button' href="/voluntarios/detalles/{{datos.idpersona}}_0">Más</a></th>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
