{{outlet}}

<h1>Registro de Visitas</h1>

<form class="pure-form">
    <input type="text" placeholder="Email">
    <button type="button" class="pure-button pure-button-primary">Sign in</button>
</form>

